#head{
    font-family: cursive
    ;
    color: #ffffffde;
}
img{
    border-radius: 2rem;
}
body{
    background-color: rgba(24, 16, 16, 0.616);
    

</style>
}
#bod{
    background-color:  rgba(24, 16, 16, 0.616);
}
#home{
    color: #ffffff;
}
#main{
    font-family: fantasy;
    color: rgba(255, 255, 255, 0.845);
}
#cards{
    font-family: fantasy;
    background-color: aquamarine;
}
#cardz{
    background-color: aquamarine;
}
#heads{
    font-family:cursive;
    
}
/*#yes{
    display: inline-flex;
}*/
.card-img-top{
    height: 50% !important;
    width: 100% !important;
}